
<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

@model XStudio.School.Input.Model.School.SchoolModel

<form class="form-inline" role="form" id="my-form-search" action="javascript:void(0)">
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control my-input-searchcondition", placeholder = "请输入学校信息主键" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "请输入学校名称" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Shortname, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Shortname, new { @class = "form-control", placeholder = "请输入学校短名称" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Branchname, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Branchname, new { @class = "form-control", placeholder = "请输入分校" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Logo, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Logo, new { @class = "form-control", placeholder = "请输入学校logo" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Introduction, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Introduction, new { @class = "form-control", placeholder = "请输入简介" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DistrictId, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.DistrictId, new { @class = "form-control my-input-searchcondition", placeholder = "请输入行政区" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "请输入地址" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Longitude, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control my-input-searchcondition", placeholder = "请输入经度" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Latitude, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control my-input-searchcondition", placeholder = "请输入纬度" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Status, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Status, new { @class = "form-control my-input-searchcondition", placeholder = "请输入状态" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Createtime, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Createtime, new { @class = "form-control my-input-searchcondition my-input-datepicker", placeholder = "请输入" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Updatetime, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Updatetime, new { @class = "form-control my-input-searchcondition my-input-datepicker", placeholder = "请输入" })
    </div>
    <button type="submit" class="btn btn-default my-btn-search">查询</button>
</form>

<a class="btn btn-primary" href="/school/School/ViewSchool?id=0" target="_blank" role="button">新增</a>

<table id="tableSchool" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
    <thead>
    <tr role="row">
        <th class="sorting_asc" data-data="Id" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">学校信息主键</th>
        <th class="sorting_asc" data-data="Name" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">学校名称</th>
        <th class="sorting_asc" data-data="Shortname" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">学校短名称</th>
        <th class="sorting_asc" data-data="Branchname" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">分校</th>
        <th class="sorting_asc" data-data="Logo" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">学校logo</th>
        <th class="sorting_asc" data-data="Introduction" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">简介</th>
        <th class="sorting_asc" data-data="DistrictId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">行政区</th>
        <th class="sorting_asc" data-data="Address" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">地址</th>
        <th class="sorting_asc" data-data="Longitude" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">经度</th>
        <th class="sorting_asc" data-data="Latitude" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">纬度</th>
        <th class="sorting_asc" data-data="Status" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">状态</th>
        <th class="sorting_asc" data-data="Createtime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending"></th>
        <th class="sorting_asc" data-data="Updatetime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending"></th>
        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">操作</th>
    </tr>
    </thead>
</table>

<script>
    $(function () {
        $.clearSearchCondition(".my-input-searchcondition");
        var tables = $('#tableSchool').DataTable({
            ajax: {
                url: $.fn.dataTable.defaults.virtualDir + 'school/School/SchoolsByPaging',
                data: function (data) {
                    data.CustomFilterParameters = $("#my-form-search").serializeArray();
                    var json = JSON.stringify(data);
                    return json;
                }
            },
            columnDefs: [
            {
                targets: -1,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var html = '';
                    var url = $.fn.dataTable.defaults.virtualDir + 'school/School/ViewSchool?id=' + full.Id;
                    html = '<a class="btn btn-default" href="' + url + '" target="_blank" role="button">查看</a>';
                    var order_orderurl = $.fn.dataTable.defaults.virtualDir + 'order/Order/OrderIndex?SchoolId=' + full.Id;
                    html+='<a class="btn btn-default" href="' + order_orderurl + '" target="_blank" role="button">用户订单</a>';
                    var school_school_businessurl = $.fn.dataTable.defaults.virtualDir + 'school/SchoolBusiness/SchoolBusinessIndex?SchoolId=' + full.Id;
                    html+='<a class="btn btn-default" href="' + school_school_businessurl + '" target="_blank" role="button">学校业务</a>';
                    var school_school_newsurl = $.fn.dataTable.defaults.virtualDir + 'school/SchoolNews/SchoolNewsIndex?SchoolId=' + full.Id;
                    html+='<a class="btn btn-default" href="' + school_school_newsurl + '" target="_blank" role="button">学校新闻</a>';
                    
                    return html;
                }
            }
            ]
        });
        $(".my-btn-search").on("click", function () {
            tables.draw();
        });
    });
</script>
