
<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

@model XStudio.School.Input.Model.Basic.CityModel

<form class="form-inline" role="form" id="my-form-search" action="javascript:void(0)">
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control my-input-searchcondition", placeholder = "请输入Id" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "请输入Name" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ename, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Ename, new { @class = "form-control", placeholder = "请输入Ename" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Citycode, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Citycode, new { @class = "form-control", placeholder = "请输入Citycode" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Zipcode, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control", placeholder = "请输入Zipcode" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProvinceId, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.ProvinceId, new { @class = "form-control my-input-searchcondition", placeholder = "请输入ProvinceId" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CountryId, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.CountryId, new { @class = "form-control my-input-searchcondition", placeholder = "请输入CountryId" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Status, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Status, new { @class = "form-control my-input-searchcondition", placeholder = "请输入Status" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Createtime, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Createtime, new { @class = "form-control my-input-datepicker", placeholder = "请输入Createtime" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Updatetime, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Updatetime, new { @class = "form-control my-input-datepicker", placeholder = "请输入Updatetime" })
    </div>
    <button type="submit" class="btn btn-default my-btn-search">查询</button>
</form>
<a class="btn btn-primary" href="/basic/City/ViewCity?id=0" target="_blank" role="button">新增</a>
<table id="tableCity" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
    <thead>
    <tr role="row">
        <th class="sorting_asc" data-data="Id" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Id</th>
        <th class="sorting_asc" data-data="Name" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Name</th>
        <th class="sorting_asc" data-data="Ename" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Ename</th>
        <th class="sorting_asc" data-data="Citycode" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Citycode</th>
        <th class="sorting_asc" data-data="Zipcode" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Zipcode</th>
        <th class="sorting_asc" data-data="ProvinceId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">ProvinceId</th>
        <th class="sorting_asc" data-data="CountryId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">CountryId</th>
        <th class="sorting_asc" data-data="Status" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Status</th>
        <th class="sorting_asc" data-data="Createtime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Createtime</th>
        <th class="sorting_asc" data-data="Updatetime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Updatetime</th>
        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">操作</th>
    </tr>
    </thead>
</table>

<script>
    $(function () {
        $.clearSearchCondition(".my-btn-searchcondition");
        var tables = $('#tableCity').DataTable({
            ajax: {
                url: $.fn.dataTable.defaults.virtualDir + 'basic/City/CitysByPaging',
                data: function (data) {
                    data.CustomFilterParameters = $("#my-form-search").serializeArray();
                    var json = JSON.stringify(data);
                    return json;
                }
            },
            columnDefs: [
            {
                targets: -1,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var url = $.fn.dataTable.defaults.virtualDir + 'basic/City/ViewCity?id=' + full.Id;
                    return '<a class="btn btn-default" href="' + url + '" target="_blank" role="button">查看</a>';
                }
            }]
        });
        $(".my-btn-search").on("click", function () {
            tables.draw();
        });
    });
</script>
