
<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

@model XStudio.School.Input.Model.Product.ProductSizeModel

<form class="form-inline" role="form" id="my-form-search" action="javascript:void(0)">
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control my-input-searchcondition", placeholder = "请输入产品规格ID" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProductId, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.ProductId, new { @class = "form-control my-input-searchcondition", placeholder = "请输入产品ID" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Size, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Size, new { @class = "form-control", placeholder = "请输入规格" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Unitprice, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Unitprice, new { @class = "form-control my-input-searchcondition", placeholder = "请输入单价" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Status, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Status, new { @class = "form-control my-input-searchcondition", placeholder = "请输入状态" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Createtime, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Createtime, new { @class = "form-control my-input-searchcondition my-input-datepicker", placeholder = "请输入创建时间" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Updatetime, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Updatetime, new { @class = "form-control my-input-searchcondition my-input-datepicker", placeholder = "请输入修改时间" })
    </div>
    <button type="submit" class="btn btn-default my-btn-search">查询</button>
</form>

<a class="btn btn-primary" href="/product/ProductSize/ViewProductSize?id=0" target="_blank" role="button">新增</a>

<table id="tableProductSize" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
    <thead>
    <tr role="row">
        <th class="sorting_asc" data-data="Id" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">产品规格ID</th>
        <th class="sorting_asc" data-data="ProductId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">产品ID</th>
        <th class="sorting_asc" data-data="Size" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">规格</th>
        <th class="sorting_asc" data-data="Unitprice" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">单价</th>
        <th class="sorting_asc" data-data="Status" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">状态</th>
        <th class="sorting_asc" data-data="Createtime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">创建时间</th>
        <th class="sorting_asc" data-data="Updatetime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">修改时间</th>
        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">操作</th>
    </tr>
    </thead>
</table>

<script>
    $(function () {
        $.clearSearchCondition(".my-input-searchcondition");
        var tables = $('#tableProductSize').DataTable({
            ajax: {
                url: $.fn.dataTable.defaults.virtualDir + 'product/ProductSize/ProductSizesByPaging',
                data: function (data) {
                    data.CustomFilterParameters = $("#my-form-search").serializeArray();
                    var json = JSON.stringify(data);
                    return json;
                }
            },
            columnDefs: [
            {
                targets: -1,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var html = '';
                    var url = $.fn.dataTable.defaults.virtualDir + 'product/ProductSize/ViewProductSize?id=' + full.Id;
                    html = '<a class="btn btn-default" href="' + url + '" target="_blank" role="button">查看</a>';
                    
                    return html;
                }
            }
            ,{
                targets: 1,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var url = $.fn.dataTable.defaults.virtualDir + 'product/Product/ProductIndex?id=' + data;
                    return '<a href="' + url + '" target="_blank" role="button">'+ data +'</a>';
                }
            }
            ]
        });
        $(".my-btn-search").on("click", function () {
            tables.draw();
        });
    });
</script>
