
<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

@model XStudio.School.Input.Model.Order.OrderModel

<form class="form-inline" role="form" id="my-form-search" action="javascript:void(0)">
        <div class="form-group">
            @Html.LabelFor(m => m.Id, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control my-input-searchcondition", placeholder = "请输入订单ID" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserId, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.UserId, new { @class = "form-control my-input-searchcondition", placeholder = "请输入用户ID" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Contact, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", placeholder = "请输入联系人" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Telphone, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Telphone, new { @class = "form-control", placeholder = "请输入电话" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Mobliephone, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Mobliephone, new { @class = "form-control", placeholder = "请输入手机" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Totalamount, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Totalamount, new { @class = "form-control my-input-searchcondition", placeholder = "请输入总金额" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Reduction, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Reduction, new { @class = "form-control my-input-searchcondition", placeholder = "请输入减免金额" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AmountpaId, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.AmountpaId, new { @class = "form-control my-input-searchcondition", placeholder = "请输入实收金额" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PromotionId, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.PromotionId, new { @class = "form-control", placeholder = "请输入优惠券ID" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PromotionladderId, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.PromotionladderId, new { @class = "form-control", placeholder = "请输入优惠阶梯ID" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SchoolId, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.SchoolId, new { @class = "form-control my-input-searchcondition", placeholder = "请输入配送学校ID" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Deliveryaddress, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Deliveryaddress, new { @class = "form-control", placeholder = "请输入配送地址" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Remark, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Remark, new { @class = "form-control", placeholder = "请输入备注" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Status, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Status, new { @class = "form-control my-input-searchcondition", placeholder = "请输入订单状态" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Createtime, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Createtime, new { @class = "form-control my-input-searchcondition my-input-datepicker", placeholder = "请输入创建时间" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Updatetime, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Updatetime, new { @class = "form-control my-input-searchcondition my-input-datepicker", placeholder = "请输入修改时间" })
        </div>
    <button type="submit" class="btn btn-default my-btn-search">查询</button>
</form>

<a class="btn btn-primary" href="/order/Order/ViewOrder?id=0" target="_blank" role="button">新增</a>

<table id="tableOrder" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
    <thead>
    <tr role="row">
        <th class="sorting_asc" data-data="Id" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">订单ID</th>
        <th class="sorting_asc" data-data="UserId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">用户ID</th>
        <th class="sorting_asc" data-data="Contact" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">联系人</th>
        <th class="sorting_asc" data-data="Telphone" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">电话</th>
        <th class="sorting_asc" data-data="Mobliephone" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">手机</th>
        <th class="sorting_asc" data-data="Totalamount" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">总金额</th>
        <th class="sorting_asc" data-data="Reduction" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">减免金额</th>
        <th class="sorting_asc" data-data="AmountpaId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">实收金额</th>
        <th class="sorting_asc" data-data="PromotionId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">优惠券ID</th>
        <th class="sorting_asc" data-data="PromotionladderId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">优惠阶梯ID</th>
        <th class="sorting_asc" data-data="SchoolId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">配送学校ID</th>
        <th class="sorting_asc" data-data="Deliveryaddress" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">配送地址</th>
        <th class="sorting_asc" data-data="Remark" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">备注</th>
        <th class="sorting_asc" data-data="Status" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">订单状态</th>
        <th class="sorting_asc" data-data="Createtime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">创建时间</th>
        <th class="sorting_asc" data-data="Updatetime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">修改时间</th>
        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">操作</th>
    </tr>
    </thead>
</table>

<script>
    $(function () {
        $.clearSearchCondition(".my-input-searchcondition");
        var tables = $('#tableOrder').DataTable({
            ajax: {
                url: $.fn.dataTable.defaults.virtualDir + 'order/Order/OrdersByPaging',
                data: function (data) {
                    data.CustomFilterParameters = $("#my-form-search").serializeArray();
                    var json = JSON.stringify(data);
                    return json;
                }
            },
            columnDefs: [
            {
                targets: -1,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var html = '';
                    var url = $.fn.dataTable.defaults.virtualDir + 'order/Order/ViewOrder?id=' + full.Id;
                    html = '<a class="btn btn-default" href="' + url + '" target="_blank" role="button">查看</a>';
                    
                    return html;
                }
            }
            ,{
                targets: 1,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var url = $.fn.dataTable.defaults.virtualDir + 'user/User/UserIndex?id=' + data;
                    return '<a href="' + url + '" target="_blank" role="button">'+ data +'</a>';
                }
            }
            ,{
                targets: 8,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var url = $.fn.dataTable.defaults.virtualDir + 'promotion/Promotion/PromotionIndex?id=' + data;
                    return '<a href="' + url + '" target="_blank" role="button">'+ data +'</a>';
                }
            }
            ,{
                targets: 10,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var url = $.fn.dataTable.defaults.virtualDir + 'school/School/SchoolIndex?id=' + data;
                    return '<a href="' + url + '" target="_blank" role="button">'+ data +'</a>';
                }
            }
            ]
        });
        
        $(".my-btn-search").on("click", function () {
            tables.draw();
        });
    });
</script>
