<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

@model XStudio.School.Input.Model.Image.ImageModel

@{
    ViewBag.Title = "Image编辑";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="ImageForm">
            @using (Html.BeginForm("Save", "image", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-group hidden">
                    @Html.LabelFor(m => m.Id, "图片信息主键", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, "图片名称", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Url, "图片url", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Introduction, "简介", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Introduction, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MerchantId, "商户id", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.MerchantId, new { @class = "form-control my-input-edit" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SchoolId, "学校id", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.SchoolId, new { @class = "form-control my-input-edit" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Status, "状态", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Status, new { @class = "form-control my-input-edit" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Createtime, "", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Createtime, new { @class = "form-control my-input-datepicker" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Updatetime, "", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Updatetime, new { @class = "form-control my-input-datepicker" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="保存" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
