
<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

@model XStudio.School.Input.Model.Basic.ProvinceModel

<form class="form-inline" role="form" id="my-form-search" action="javascript:void(0)">
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control my-input-searchcondition", placeholder = "请输入省份ID" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "请输入名称" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ename, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Ename, new { @class = "form-control", placeholder = "请输入英文名称" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CountryId, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.CountryId, new { @class = "form-control my-input-searchcondition", placeholder = "请输入国家ID" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Status, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Status, new { @class = "form-control my-input-searchcondition", placeholder = "请输入状态" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Createtime, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Createtime, new { @class = "form-control my-input-searchcondition my-input-datepicker", placeholder = "请输入创建时间" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Updatetime, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Updatetime, new { @class = "form-control my-input-searchcondition my-input-datepicker", placeholder = "请输入修改时间" })
    </div>
    <button type="submit" class="btn btn-default my-btn-search">查询</button>
</form>

<a class="btn btn-primary" href="/basic/Province/ViewProvince?id=0" target="_blank" role="button">新增</a>

<table id="tableProvince" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
    <thead>
    <tr role="row">
        <th class="sorting_asc" data-data="Id" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">省份ID</th>
        <th class="sorting_asc" data-data="Name" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">名称</th>
        <th class="sorting_asc" data-data="Ename" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">英文名称</th>
        <th class="sorting_asc" data-data="CountryId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">国家ID</th>
        <th class="sorting_asc" data-data="Status" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">状态</th>
        <th class="sorting_asc" data-data="Createtime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">创建时间</th>
        <th class="sorting_asc" data-data="Updatetime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">修改时间</th>
        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">操作</th>
    </tr>
    </thead>
</table>

<script>
    $(function () {
        $.clearSearchCondition(".my-input-searchcondition");
        var tables = $('#tableProvince').DataTable({
            ajax: {
                url: $.fn.dataTable.defaults.virtualDir + 'basic/Province/ProvincesByPaging',
                data: function (data) {
                    data.CustomFilterParameters = $("#my-form-search").serializeArray();
                    var json = JSON.stringify(data);
                    return json;
                }
            },
            columnDefs: [
            {
                targets: -1,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var html = '';
                    var url = $.fn.dataTable.defaults.virtualDir + 'basic/Province/ViewProvince?id=' + full.Id;
                    html = '<a class="btn btn-default" href="' + url + '" target="_blank" role="button">查看</a>';
                    
                    return html;
                }
            }
            ]
        });
        $(".my-btn-search").on("click", function () {
            tables.draw();
        });
    });
</script>
