
<!--/************************************************************************************************************************************************
 * FileName:       DbContext.cs
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/-->

@model XStudio.School.Input.Model.Promotion.PromotionModel

<form class="form-inline" role="form" id="my-form-search" action="javascript:void(0)">
        <div class="form-group">
            @Html.LabelFor(m => m.Id, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control my-input-searchcondition", placeholder = "请输入促销ID" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "请输入名称" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Shortname, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Shortname, new { @class = "form-control", placeholder = "请输入短名称" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "请输入简介" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProductcategoryId, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.ProductcategoryId, new { @class = "form-control", placeholder = "请输入适用产品类别ID" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Effectdate, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Effectdate, new { @class = "form-control my-input-searchcondition my-input-datepicker", placeholder = "请输入生效日期" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Expiredate, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Expiredate, new { @class = "form-control my-input-searchcondition my-input-datepicker", placeholder = "请输入失效日期" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MerchantId, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.MerchantId, new { @class = "form-control my-input-searchcondition", placeholder = "请输入所属商户ID" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Merchantundertake, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Merchantundertake, new { @class = "form-control my-input-searchcondition", placeholder = "请输入商户承担金额" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Platundertake, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Platundertake, new { @class = "form-control my-input-searchcondition", placeholder = "请输入平台承担金额" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Status, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Status, new { @class = "form-control my-input-searchcondition", placeholder = "请输入状态" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Createtime, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Createtime, new { @class = "form-control my-input-searchcondition my-input-datepicker", placeholder = "请输入创建时间" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Updatetime, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Updatetime, new { @class = "form-control my-input-searchcondition my-input-datepicker", placeholder = "请输入修改时间" })
        </div>
    <button type="submit" class="btn btn-default my-btn-search">查询</button>
</form>

<a class="btn btn-primary" href="/promotion/Promotion/ViewPromotion?id=0" target="_blank" role="button">新增</a>

<table id="tablePromotion" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
    <thead>
    <tr role="row">
        <th class="sorting_asc" data-data="Id" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">促销ID</th>
        <th class="sorting_asc" data-data="Name" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">名称</th>
        <th class="sorting_asc" data-data="Shortname" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">短名称</th>
        <th class="sorting_asc" data-data="Description" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">简介</th>
        <th class="sorting_asc" data-data="ProductcategoryId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">适用产品类别ID</th>
        <th class="sorting_asc" data-data="Effectdate" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">生效日期</th>
        <th class="sorting_asc" data-data="Expiredate" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">失效日期</th>
        <th class="sorting_asc" data-data="MerchantId" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">所属商户ID</th>
        <th class="sorting_asc" data-data="Merchantundertake" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">商户承担金额</th>
        <th class="sorting_asc" data-data="Platundertake" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">平台承担金额</th>
        <th class="sorting_asc" data-data="Status" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">状态</th>
        <th class="sorting_asc" data-data="Createtime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">创建时间</th>
        <th class="sorting_asc" data-data="Updatetime" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">修改时间</th>
        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">操作</th>
    </tr>
    </thead>
</table>

<script>
    $(function () {
        $.clearSearchCondition(".my-input-searchcondition");
        var tables = $('#tablePromotion').DataTable({
            ajax: {
                url: $.fn.dataTable.defaults.virtualDir + 'promotion/Promotion/PromotionsByPaging',
                data: function (data) {
                    data.CustomFilterParameters = $("#my-form-search").serializeArray();
                    var json = JSON.stringify(data);
                    return json;
                }
            },
            columnDefs: [
            {
                targets: -1,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var html = '';
                    var url = $.fn.dataTable.defaults.virtualDir + 'promotion/Promotion/ViewPromotion?id=' + full.Id;
                    html = '<a class="btn btn-default" href="' + url + '" target="_blank" role="button">查看</a>';
                    
                    return html;
                }
            }
            ,{
                targets: 7,
                width: "100px",
                render: function (data, type, full, meta) {
                    var json = JSON.stringify(full);
                    var url = $.fn.dataTable.defaults.virtualDir + 'merchant/Merchant/MerchantIndex?id=' + data;
                    return '<a href="' + url + '" target="_blank" role="button">'+ data +'</a>';
                }
            }
            ]
        });
        
        $(".my-btn-search").on("click", function () {
            tables.draw();
        });
    });
</script>
